/*
Project Name: ECO2 Agenda Demo 2019 V3
Project URI: https://jvining.github.io/ECO2-Agenda-Demo-2019-V3
Description: ECO2 Agenda Demo 2019 V3, built on Starter Bootstrap Template (http://bit.ly/1SnymWq)
Author: Joshua Vining
Author URI: https://github.com/jvining
*/

body {background:#fbfbfb; font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";}
body h1, body h2, body h3, body h4, body h5 {font-weight:300;}
body [class*="col-"] {color:#5f5f5f; font-size:16px; line-height:1.75em;}
 
.navbar .navbar-nav .nav-item:last-child a {margin:.25rem; padding:.25rem .75rem;}
 
/* Typography */ 
.fa-lg,.fa-1x,.fa-2x,.fa-3x,.fa-4x,.fa-5x,.fa-6x,.fa-7x,.fa-8x,.fa-9x,.fa-10x{line-height:1.2em!important;} 
.fa-lg{font-size:1.33333333em!important;} .fa-1x{font-size:1.5em!important;} 
.fa-2x{font-size:2em!important;} .fa-3x{font-size:3em!important;} .fa-4x{font-size:4em!important;} 
.fa-5x{font-size:5em!important;} .fa-6x{font-size:6em!important;} .fa-7x{font-size:7em!important;} 
.fa-8x{font-size:8em!important;} .fa-9x{font-size:9em!important;} .fa-x {font-size:10em!important;}
@media(max-width:768px){.fa-lg,.fa-1x,.fa-2x,.fa-3x,.fa-4x,.fa-5x,.fa-6x,.fa-7x,.fa-8x,.fa-9x,.fa-10x{font-size:1.2em!important;}}
@media(max-width:768px){h1{font-size:2em!important;} h2.fa-5x{font-size:1.95em!important;} h2.fa-4x{font-size:1.75em!important;} h2.fa-3x{font-size:1.55em!important;} h2.fa-2x{font-size:1.35em!important;} h2.fa-1x{font-size:1.25em!important;} h2.fa-lg{font-size:1.25em!important;} h3{font-size:1.15em!important;} p.fa-lg{font-size:.85em!important;} blockquote p{font-size:1.1em!important;} blockquote cite{font-size:.85em!important;} p, ul, ol, li, table, address, blockquote, cite{font-size:14px!important;line-height:1.5em!important;}}

.text-light {font-weight:300;}
.text-normal{font-weight:400;}
.text-bold {font-weight:700;}
.text-shadow {text-shadow:rgba( 0, 0, 0, .25 ) .045em .045em;}

.btn,.btn:hover {transition:.3s ease-in-out;}
.btn-xl{font-size:30px;padding:8px 10px;border-radius:6px;}
@media(max-width:768px){.btn-xl{font-size:20px;padding:8px 13px;}}

.bg-primary {background:rgba(66, 139, 202, .85)!important;}
.bg-info {background:rgba(91, 192, 222, .85)!important;}
.bg-success {background:rgba(92, 184, 92, .85)!important}
.bg-warning {background:rgba(240, 173, 78, .85)!important;}
.bg-danger {background:rgba(217, 83, 79, .85)!important;}

 /* Agenda CSS */
.agenda-day-nav{transition: all 0.4s ease;}
.on-scroll-agenda {position:fixed;top:3.5em;left:0;right:0;z-index: 1020;padding-top:.75em;background:#fbfbfb;transition: all 0.4s ease;-webkit-box-shadow: 0 3px 10px 1px rgba(0,0,0,.3)!important;box-shadow: 0 3px 10px 1px rgba(0,0,0,.3)!important;}
.on-scroll-agenda .row{max-width:1170px; margin:.15em auto 1em auto;}
@media(max-width:768px){.filter_button{margin-top:1em;} .bootstrap-select .dropdown-menu.show{max-width:80%; overflow:hidden;}}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width:100%; border:1px #ddd solid; border-radius:6px;}

#filter-menu{height:100%;position:fixed;top:0;left:0;overflow-x:hidden;  background:rgba(33, 37, 41, .9);transition:0.5s;z-index: 1020; box-shadow: 0 3px 10px 1px rgba(0,0,0,.3)!important;}
#filter-menu a:hover{text-decoration:none; cursor:pointer;}
@media(max-width:1100px){.on-scroll-agenda{z-index:1015;} #filter-menu{width:100vw; z-index:1020;}}

#agenda-day-container .bg-primary {background:rgba(66, 139, 202, .2)!important;}
#agenda-day-container .bg-info {background:rgba(91, 192, 222, .2)!important;}
#agenda-day-container .bg-success {background:rgba(92, 184, 92, .2) !important}
#agenda-day-container .bg-warning {background:rgba(240, 173, 78, .2)!important;}
#agenda-day-container .bg-danger {background:rgba(217, 83, 79, .2)!important;}

#agenda-day-container .badge-primary {background:rgba(66, 139, 202, .6)!important;}
#agenda-day-container .badge-info {background:rgba(91, 192, 222, .6)!important;}
#agenda-day-container .badge-success {background:rgba(92, 184, 92, .6)!important}
#agenda-day-container .badge-danger {background:rgba(217, 83, 79, .6)!important;}
#agenda-day-container .badge-warning {background:rgba(240, 173, 78, .6)!important; color:#fff!important;}
#agenda-day-container .badge-dark {background: rgba(52, 58, 64, .6); color: #fff;}

#agenda-day-container .card{border-radius:0!important; }
#agenda-day-container .card-body .row [class*="col-"] > div  {width:200px;}

#agenda-day-container .card .collapse.show .card-body {border-bottom:1px rgba(0, 0, 0, 0.125) solid;}
#agenda-day-container .card .collapse.show .card-body .card {border:1px #ddd solid!important; }
#agenda-day-container .card .collapse.show .card-body .card img {border-radius:0;}
#agenda-day-container .card .collapse.show .card-body .card .card-body {border:none!important;}

#agenda-day-container .card-title {cursor:pointer;font-size: 1.25em;margin:.2em 0;}
#agenda-day-container .card-time {font-size:.9em; color:#5f5f5f; margin:.2em 0; }
#agenda-day-container .card-moderator, #agenda-day-container .card-speakers {font-size:.6em; margin-bottom:-.5em; }
#agenda-day-container .card-body {font-size:.9em; background:#fff;}

#agenda-day-container .speaker-image-block{height:198px;width:198px; overflow:hidden; display:block; margin:0 auto; position:inherit;}
#agenda-day-container .speaker-image-block > img:first-of-type{transition: all 0.3s ease;}
#agenda-day-container .speaker-image-block:hover > img:first-of-type{margin-top:-235px; transition: all 0.3s ease;}

 